@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-red: #FF383F;
  --color-brand-gray: #A9A9A9;
  --color-brand-light-blue: #CAEBF2;
  --color-brand-light-gray: #EFEFEF;
  --color-brand-dark-blue: #112D42;
  
  --color-brand-primary: #112D42; /* Use dark blue as main primary */
  --color-brand-accent: #FF383F; /* Use red as accent */
  --color-brand-green: #25d366; /* Kept for WhatsApp */
  
  --font-sans: 'Ubuntu', sans-serif;
}

@layer base {
  :root {
    --background: #EFEFEF; /* From the palette */
    --foreground: #112D42; /* Dark blue for text */
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
